@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    background-color: #f4f4f4;
    font-family: 'Pacifico', cursive;
    list-style: none;
}


nav {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
  }
  
nav li a {
  display: block;
  color: #101010;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: xx-large;
}

li a:hover:not(.active) {
  text-decoration: underline;
  filter: opacity(.8);
}

.active {
  text-decoration: underline;
}

header{
    display: flex;
}

header div{
    position: relative;
}


header li {
  float: left;
}

.breadcrumb ul {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
  color: #101010;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.footer li a{
    display: block;
    color: #101010;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
    font-family: 'Roboto', sans-serif;
    text-align: right;
    text-justify:newspaper;
}

#quote{
    color: #101010;
    font-size: 80px;
}

#links{
    display: inline;
}

section{
    display: flex;
    justify-content: space-between;
    padding: 0 100px;

}

section div{
    padding: 0 10px;
    margin: auto;
}

.BookImg div img{
    width: 90px;
    height: 90px;
    object-fit: fill;
}

#Cover{
    width: 300px;
    height: 440px;
    object-fit: fill;
}

.purchase{
    color: #101010;
    font-size: 100px;
    padding-left: 40%;
}

.purchase button{
    color: #101010;
    font-size: 50px;
}

.purchase button:hover{
    filter: invert(1);
}

h1, p{
    font-family: 'Roboto', sans-serif;
}

h1{
    font-weight: bold;
    font-size:88px;
    margin: 0;
}

p{
    font-weight: normal;
    font-size: larger;
    text-align: justify;
}

.description{
    margin: 0 100px;
}

@media only screen and (max-width: 960px){
  *{
    overflow-x: hidden;
    position: relative;
  }

  header{
    display: block;
  }

  header li {
    float:none;
  }

  section{
    display: block;
    padding: 0;
  }

  .BookImg{
    width: 300px;
  }

  #Cover{
    padding: auto;
  }

  .description{
    margin: 0;
  }

  .purchase{
    margin: auto;
    padding: 0;
    width: 300px;
  }

  
  h1{
    font-size: 70px;
  }

  .footer{
    display: block;
  }

  #quote{
    font-size: 1.9rem;
  }

  header div{
    width: 100px;
    height: 142.4px;
    margin: auto;
  }
}